<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Palm Angels</title>
</head>

<body>
    <div id="page">
        <header id="header">
            <div id="header-inner">
                <div id="logo">
                    <h1><a href="../index.html"><img src="../assets/img/logo.png" alt="logo de la marca"></a></h1>
                </div>
                <div id="top-nav">
                    <a href="./products.html">PRODUCTS</a>
                    <a href="#">ABOUT US</a>
                    <a href="./contact.html">CONTACT</a>
                    <a href="./cart.html">CART</a>
                </div>
            </div>
        </header>
        <div class="feature">
            <div class="feature-inner">
                <h1>ABOUT US</h1>
                <h3>We have come to change the rules</h3>
            </div>
        </div>
        <div id="content">
            <div id="content-inner">
                <main id="contentbar">
                    <div class="article">
                        <h3>THIS IS OUR LIFE STORY</h3>
                        <!-- meter aquí dos parrafos con la nueva colección que se viene de camisetas -->
                        <div>
                            Our idea arose as a result of a meeting between a group of friends in which we came up with
                            the brilliant idea of launching our own clothing brand.
                        </div>
                        <div>
                            Over time, that idea took shape and began selling from the garage of a house until it
                            reached the website from which you are reading this.
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div id="featured">
            <div id="featured-inner">
                <h2>Featured Products</h2>
                <h3>Check out new and popular products</h3>
                <div>
                    <img src="../assets/img/us.jpg" alt="our team">
                    <img src="../assets/img/garage.jpg" alt="our first factory">
                </div>
            </div>
        </div>
        <div class="feature">
            <div class="feature-inner">
                <h1>OUR PHILOSOPHY</h1>
                <h3>Our main idea is to achieve the highest quality in each of our garments so that the customer has a
                    unique experience.</h3>
                Javier Ruiz Muro - CEO
            </div>
        </div>
        <div id="newsletter">
            <div id="newsletter-inner">
                <div>
                    <h2>Monthly newsletter</h2>
                    <p>Sign up to receive updates from our shop, including new t-shirt selections and upcoming events.
                    </p>
                    <input type="text" size="20" placeholder="Enter your email"><button type="submit">SUBMIT</button>
                </div>
            </div>
        </div>
        <footer id="footer">
            <div id="footer-inner">
                <div>
                    <h3>STORE</h3>
                </div>
                <div>
                    <p>MENU</p>
                    <p><a href="../index.html">Home</a></p>
                    <p><a href="./products.html">Products</a></p>
                    <p><a href="#">About us</a></p>
                    <p><a href="./contact.html">Contact</a></p>
                </div>
                <div>
                    <p>FOLLOW</p>
                    <p>Instagram</p>
                    <p>Facebook</p>
                    <p>Twitter</p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>