<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Palm Angels</title>
</head>

<body>
    <div id="page">
        <header id="header">
            <div id="header-inner">
                <div id="logo">
                    <h1><a href="../index.html"><img src="../assets/img/logo.png" alt="logo de la marca"></a></h1>
                </div>
                <div id="top-nav">
                    <a href="./products.html">PRODUCTS</a>
                    <a href="./about.html">ABOUT US</a>
                    <a href="#">CONTACT</a>
                    <a href="./cart.html">CART</a>
                </div>
            </div>
        </header>
        <div class="feature">
            <div class="feature-inner">
                <h1>Get in touch</h1>
                <h3>Hey there, fill out this form</h3>
            </div>
        </div>
        <div id="content">
            NAME:<br>
            <input type="text" id="form_name" placeholder="Enter your name"><br>
            EMAIL ADDRESS:<br>
            <input type="text" id="form_address" placeholder="Enter your email"><br>
            MESSAGE:<br>
            <textarea placeholder="Enter your message"></textarea><br>
            <button type="submit" value="submit">SUBMIT</button>
        </div>
        <div id="featured">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2943.0200723376047!2d-2.432158084540226!3d42.46986177917951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5aab0dbd9ed72d%3A0xda98798954220d52!2sIES%20Comercio!5e0!3m2!1ses!2ses!4v1666450272204!5m2!1ses!2ses"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="feature">
            <div class="feature-inner">
                <h1>Main contacts</h1>
                <div>
                    <p> Support </p>
                    <p><a href="tel:123-456-7890">123-456-7890</a></p>
                </div>
                <div>
                    <p> Marketing </p>
                    <p><a href="tel:123-456-7890">123-456-6502</a></p>
                </div>
                <div>
                    <p> Office </p>
                    <p><a href="tel:123-456-7890">123-456-9874</a></p>
                </div>
                <div>
                    <p> Email </p>
                    <p> <a href="mailto:support@ruiz.com">support@ruiz.com</a> </p>
                </div>
            </div>
        </div>
        <div id="newsletter">
            <div id="newsletter-inner">
                <div>
                    <h2>Monthly newsletter</h2>
                    <p>Sign up to receive updates from our shop, including new t-shirt selections and upcoming events.
                    </p>
                    <input type="text" size="20" placeholder="Enter your email"><button type="submit">SUBMIT</button>
                </div>
            </div>
        </div>
        <footer id="footer">
            <div id="footer-inner">
                <div>
                    <h3>STORE</h3>
                </div>
                <div>
                    <p>MENU</p>
                    <p><a href="../index.html">Home</a></p>
                    <p><a href="./products.html">Products</a></p>
                    <p><a href="./about.html">About us</a></p>
                    <p><a href="#">Contact</a></p>
                </div>
                <div>
                    <p>FOLLOW</p>
                    <p>Instagram</p>
                    <p>Facebook</p>
                    <p>Twitter</p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>